.article {
  position: relative;
  color: var(--color-100);
  flex-grow: 1;
  overflow: hidden;
}

.article::after {
  content: "";
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  display: block;
  height: 170px;
  background: var(--gradient);
}

.article div {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: grid;
  grid-template-rows: 1fr min-content;
  gap: 8px;
  padding: 32px;
}

.article h3 {
  align-self: end;
  margin-block: 0;
  font-weight: 700;
  font-size: 24px;
}

.article p {
  margin-block: 0;
  font-size: 13px;
  opacity: 0.7528;
}

.article img {
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

.article a::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.article a:focus-visible::before {
  background-color: var(--color-100-transparent-50);
}

@media (hover: hover) and (pointer: fine) {
  .article a:hover::before {
    background-color: var(--color-100-transparent-50);
  }
}
